language: python
python: 3.7
addons:
  apt:
    packages:
    - python-pip

install:
- git clone --depth=1 https://github.com/tabatkins/bikeshed.git
- pip install --editable bikeshed
- bikeshed update

script:
- mkdir -p out
- bikeshed --die-on=warning spec index.bs out/index.html
- bikeshed --die-on=warning spec scanning.bs out/scanning.html
- bikeshed --die-on=warning spec tests.bs out/tests.html
- bikeshed --die-on=warning spec use-cases.bs out/use-cases.html
- cp -r implementation-status.md out/

branches:
  only:
  - main

deploy:
  provider: pages:git
  local_dir: out
  deploy_key: deploy_key.gpg
  on:
    branch: main
  edge: true

notifications:
  email:
    on_success: never
    on_failure: always
